[Desktop Entry]
Name=switchablegraphics
Name[ast]=switchablegraphics
Name[bg]=switchablegraphics
Name[bs]=switchablegraphics
Name[ca]=switchablegraphics
Name[ca@valencia]=switchablegraphics
Name[cs]=switchablegraphics
Name[da]=switchablegraphics
Name[de]=switchablegraphics
Name[el]=switchablegraphics
Name[en_GB]=switchablegraphics
Name[eo]=switchablegraphics
Name[es]=switchablegraphics
Name[et]=switchablegraphics
Name[fi]=switchablegraphics
Name[fr]=switchablegraphics
Name[ga]=switchablegraphics
Name[gl]=switchablegraphics
Name[hu]=switchablegraphics
Name[it]=switchablegraphics
Name[ja]=switchablegraphics
Name[kk]=switchablegraphics
Name[km]=switchablegraphics
Name[ko]=switchablegraphics
Name[lt]=switchablegraphics
Name[lv]=switchablegraphics
Name[nb]=switchablegraphics
Name[nds]=switchablegraphics
Name[nl]=switchablegraphics
Name[nn]=switchablegraphics
Name[pa]=switchablegraphics
Name[pl]=switchablegraphics
Name[pt]=switchablegraphics
Name[pt_BR]=switchablegraphics
Name[ro]=switchablegraphics
Name[ru]=switchablegraphics
Name[sk]=switchablegraphics
Name[sq]=switchablegraphics
Name[sr]=switchablegraphics
Name[sr@ijekavian]=switchablegraphics
Name[sr@ijekavianlatin]=switchablegraphics
Name[sr@latin]=switchablegraphics
Name[sv]=switchablegraphics
Name[tr]=switchablegraphics
Name[ug]=switchablegraphics
Name[uk]=switchablegraphics
Name[x-test]=xxswitchablegraphicsxx
Name[zh_CN]=switchablegraphics
Name[zh_TW]=switchablegraphics
Exec=switchablegraphics %i -caption "%c"
Icon=switchablegraphics
Type=Application
X-DocPath=switchablegraphics/index.html
GenericName=A Simple KDE Application
GenericName[ca]=Una aplicació senzilla del KDE
GenericName[ca@valencia]=Una aplicació senzilla del KDE
GenericName[cs]=Jednoduchá aplikace KDE
GenericName[da]=Et simpelt KDE-program
GenericName[de]=Eine einfache KDE-Anwendung
GenericName[el]=Μια απλή εφαρμογή KDE
GenericName[es]=Una aplicación sencilla para KDE
GenericName[et]=Lihtne KDE rakendus
GenericName[fi]=Yksinkertainen KDE-sovellus
GenericName[fr]=Une application simple pour KDE
GenericName[ga]=Feidhmchlár Simplí KDE
GenericName[hu]=Egyszerű KDE alkalmazás
GenericName[it]=Una semplice applicazione di KDE
GenericName[kk]=Қарапайым KDE қолданбасы
GenericName[lt]=Paprasta KDE programa
GenericName[nb]=Et enkelt KDE4-program
GenericName[nl]=Een eenvoudige KDE-toepassing
GenericName[pa]=ਸਧਾਰਨ KDE ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Prosty program KDE
GenericName[pt]=Uma Aplicação Simples do KDE
GenericName[pt_BR]=Um aplicativo simples do KDE
GenericName[sk]=Jednoduchá KDE aplikácia
GenericName[sr]=Једноставни КДЕ програм
GenericName[sr@ijekavian]=Једноставни КДЕ програм
GenericName[sr@ijekavianlatin]=Jednostavni KDE program
GenericName[sr@latin]=Jednostavni KDE program
GenericName[sv]=Ett enkelt KDE-program
GenericName[tr]=Baist bir KDE4 Uygulaması
GenericName[uk]=Проста програма для KDE
GenericName[x-test]=xxA Simple KDE Applicationxx
GenericName[zh_CN]=简单的 KDE 应用程序
GenericName[zh_TW]=簡單的 KDE 應用程式
